@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --geist-foreground: #ebebeb;
}

:root {
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
}

.bgLinear {
  background: linear-gradient(249.78deg, #a963fb -1.12%, #35d3ff 103.12%);
}

.prevent-ghost {
  -webkit-user-drag: none;
}

.text-clamp {
  font-size: clamp(36px, 4vw, 48px);
}
