@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "d2coding";
  src: url("./fonts/D2Coding.ttc");
}

:root {
  --geist-foreground: #ebebeb;
  font-family: "d2coding";
}

:root {
  font-family: "DM Sans", "Noto Sans KR", sans-serif;
}

.bgLinear {
  background: linear-gradient(249.78deg, #a963fb -1.12%, #35d3ff 103.12%);
}

.prevent-ghost {
  -webkit-user-drag: none;
}

.text-clamp {
  font-size: clamp(36px, 4vw, 48px);
}

.grid-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  /* grid-auto-rows: 200px; */
}
.dropArea {
  position: relative;
}
.dropArea::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
}
